<% if @logged_in %>
  <h1>Hi, <%= session[:name] %>.</h1>
  <%= link_to "logout", '/logout', method: :post %>
<% else %>
  <h1>Click the link to log in.</h1>
  <%= link_to "login", '/login' %>
<% end %>
